/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*/ 

/*body {
  padding-top: 50px;
}*/

/*.starter-template {
  padding: 5px;
  text-align: center;
}*/

.div1 {
	border-style: solid;
	border-width: 1px;
	width: 100%;
	min-height: 50px;
	background-color: beige;
	margin-top: 3px;
	/*display: inline-block;*/
	/*position: absolute;
	top: 5px;
	left: 10px;*/
}

/*.div2 {
	border-style: solid;
	border-width: 1px;
	width: 40%;
	min-height: 50px;
	background-color: beige;
	display: inline-block;
}*/

h5 {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 5px;
}

h6 {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 5px;
}

.posted_msg {
	color: green;
}

.row {
	background-color: beige;
	/*border-style: dashed;
	border-width: 1px;*/
	/*min-height: 300px;*/
	width: 100%;
	vertical-align: top;
}

.card {
	background-color: white;
	width: 96px;
	height: 120px;
	margin: 8px;
	margin-top: 5px;
	display: inline-block;
	/*position: relative;*/
	border-radius: 4px;
}

.card_idle {
	background-color: lightgreen;
	width: 96px;
	height: 120px;
	margin: 8px;
	margin-top: 5px;
	display: inline-block;
	/*position: relative;*/
	border-radius: 4px;
}