<html>

	<head>
		<title>Chisolm's Mars Site</title>
		  <link rel="stylesheet" type="text/css" href="mycss.css">

	</head>

	<body>

		<div class="bannerclass">
			<img class="bannerimg" src="mars2.jpg">
			<!-- <h2 class="b1">So this is Mars!</h2> -->

		</div>

		<div class="container">

			<div class="header">
				<div class="navigate">
					<a class="links" href="index">HOME</a>
					<a class="links" href="funfacts">FUN FACTS</a>
					<a class="links" href="pictures">PICTURES</a>

				</div>
				

			</div>

			


			<div class="leftcol">
				<h1 class="l1">All About Mars...</h1>
				<p>
				Mars is the fourth planet from the Sun. Named after the Roman god of war, and often described as the “Red Planet” due to its reddish appearance. Mars is a terrestrial planet with a thin atmosphere composed primarily of carbon dioxide.
				</p>
				<p>
				Including orbiters, landers and rovers there have been 39 missions to Mars, not including flybys or the attempt to return a sample of Phobos. Since the first, USSR’s Marsnik 1, was launched in1960. Europe’s Exobiology on Mars program (scheduled launch 2016) plans to: search for possible traces of Martian life; study the surface environment; map potential hazards to manned missions in the future and begin preparations for an eventual return flight.
				</p>
				<p>
					Mars has been known since prehistoric times. Of course, it has been extensively studied with ground-based observatories. But even very large telescopes find Mars a difficult target, it's just too small. It is still a favorite of science fiction writers as the most favorable place in the Solar System (other than Earth!) for human habitation. But the famous "canals" "seen" by Lowell and others were, unfortunately, just as imaginary as Barsoomian princesses.

				</p>
				<p>
					The southern hemisphere of Mars is predominantly ancient cratered highlands somewhat similar to the Moon. In contrast, most of the northern hemisphere consists of plains which are much younger, lower in elevation and have a much more complex history. An abrupt elevation change of several kilometers seems to occur at the boundary. The reasons for this global dichotomy and abrupt boundary are unknown (some speculate that they are due to a very large impact shortly after Mars' accretion). Mars Global Surveyor has produced a nice 3D map of Mars that clearly shows these features.
				</p>






				<!-- <h5>
					<%= Faker::Address.city %>

				</h5> -->

			</div>

			<div class="rightcol">
				
				
				<%= yield %>
				<!-- <p>
					Mars is much colder than Earth, in large part due to its greater distance from the sun. The average temperature is about minus 80 degrees F (minus 60 degrees C), although they can vary from minus 195 F (minus 125 C) near the poles during the winter to as much as 70 F (20 C) at midday near the equator.

					The carbon-dioxide-rich atmosphere of Mars is also roughly 100 times less dense than Earth's on average, but it is nevertheless thick enough to support weather, clouds and winds. The density of the atmosphere varies seasonally, as winter forces carbon dioxide to freeze out of the Martian air.
				</p>
				<h3 class="l1">Orbit</h3>
				<p>
					The axis of Mars, like Earth's, is tilted with relation to the sun. This means that like Earth, the amount of sunlight falling on certain parts of the planet can vary widely during the year, giving Mars seasons.
					However, the seasons that Mars experiences are more extreme than Earth's because the red planet's elliptical, oval-shaped orbit around the sun is more elongated than that of any of the other major planets.

				</p>
				<h3 class="l1">other info...</h3>

				<p>
					<%= Faker::Lorem.paragraph(4) %>

				</p> -->

			</div>

		</div> <!-- end container -->

		<div class="footer">
				<!-- <h1>This is my footer </h1> -->
				<img class="footerpicture" src="mars3.jpg">
				<!-- <h4 class="footertext"> Chis Mars Site </h4> -->
				<div class="bottomnavigate">
					<a class="links" href="index">HOME</a>
					<a class="links" href="funfacts">FUN FACTS</a>
					<a class="links" href="pictures">PICTURES</a>

				</div>

		</div>









	</body>


</html>