<h3 class="l1">Mars Pictures:</h3>

<div class="rightcolpictures">

  <img class="rightcolimages" src="pathfinder.jpg">
  <img class="rightcolimages" src="orbit.jpg">
  <img class="rightcolimages" src="man-on-mars.jpg">

</div>