<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
  <!-- If you wanted a Login link, it would point to: new_user_session_path  -->
  <% if current_user.admin? %>
    <h6 class="adminlabel">&nbsp;&nbsp;(Signed on as Admin)</h6>
  <% else %>
	<h6 class="adminlabel">&nbsp;&nbsp;(Signed on as Student)</h6>
  <% end %>   
<% end %>