<h3 class="np_1">New Blog Post</h3>

<div class="np_test1">
	
	<form action="" method="post">
		<label>Subject:</label>
		<input type="text" name="subjectinput" value="">
  		
  		<label class="np_lab1">Message:</label>
  		<textarea class="np_ta1" name="mytext" cols="100" rows="5"></textarea>
  		<!-- <input type="submit" value="Save"> -->
  		<button type="button" class="btn btn-sm btn-success chisbut">Save</button>
  		<button type="button" class="btn btn-sm btn-danger">Cancel</button>
	</form>

</div>