<div>
	<div>
		<h5 class="dib">User:</h5>
		<h4 class="dib">test user</h4>
	</div>

	<div>
		<h5 class="dib">Time/date:</h5>
		<h4 class="dib">3:50pm April 11</h4>
	</div>

	<div>
		<textarea class="ss_ta1" name="mytext" cols="100" rows="5"></textarea>

	</div>


</div>