= form_for [@patient, @doctor], url: create_doctor_patient_path(@patient) do |f|
	= f.label :name, "Name:"
	= f.text_field :name, class: "doctor_name_input"
	%br
	%h5{class: "namereqclass"}
		&nbsp;&nbsp;
		(Name is required)	
	= f.submit class: "doctor_submit_button"